{% extends 'admin/popup/base.html' %}

{% block style %}
    <style>
        * {
            margin: 0;
            padding: 0;
            color: #606266;
            text-align: left;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="app">
        <el-col :span="4">
            <div style="width: 190px; height: 110px; text-align: center;">
                {% if sample_url %}
                    <div style="width: 95px; height: 110px; float: left; overflow: hidden">
                        <h5>原图像</h5>
                        <el-image src="{{ sample_url }}" style="width: 100%;"></el-image>
                    </div>
                {% else %}
                {% endif %}
                <div style="width: 95px; height: 110px; float: left; overflow: hidden">
                    <h5>抓拍图像</h5>
                    <el-image src="{{ head_path }}" style="width: 100%"></el-image>
                </div>
            </div>
            {% if similarity %}
                <h5 style="margin-top: 10px; margin-bottom: 10px">相似度: {{ similarity }}%</h5>
            {% else %}
                <h5 style="margin-top: 10px; margin-bottom: 10px">全身照</h5>
            {% endif %}
            <div style="background-color: gray; width: 190px; height: 300px; overflow: hidden">
                <el-image src="{{ body_path }}" style="width: 100%"></el-image>
            </div>
        </el-col>
        <el-col :span="15">
            <div style="width: 713px; height: 430px; margin-left: 20px">
                <el-image src="{{ back_path }}" style="padding-top: 19px; width: 100%; height: 100%"></el-image>
            </div>
        </el-col>
        <el-col :span="3">
            <div style="width: 100%; height: 430px; margin-left: 20px">
                {% if monitor_name %}
                    <div style="padding-top: 19px">
                        <el-tooltip class="item" effect="dark" content="{{ monitor_name }}" placement="left">
                            <el-button>人员姓名</el-button>
                        </el-tooltip>
                    </div>
                {% else %}
                {% endif %}
                {% if face_data %}
                    <div style="padding-top: 19px">
                        <el-tooltip class="item" effect="dark" content="{{ face_data }}" placement="left">
                            <el-button>人脸特征</el-button>
                        </el-tooltip>
                    </div>
                {% else %}
                    <div style="padding-top: 19px">
                        <el-tooltip class="item" effect="dark" content="暂时没有获取到人脸特征" placement="left">
                            <el-button>人脸特征</el-button>
                        </el-tooltip>
                    </div>
                {% endif %}

                {% if human_data %}
                    <div style="padding-top: 19px">
                        <el-tooltip class="item" effect="dark" content="{{ human_data }}" placement="left">
                            <el-button>人体特征</el-button>
                        </el-tooltip>
                    </div>
                {% else %}
                    <div style="padding-top: 19px">
                        <el-tooltip class="item" effect="dark" content="暂时没有获取到人体特征" placement="left">
                            <el-button>人体特征</el-button>
                        </el-tooltip>
                    </div>
                {% endif %}
                <div style="padding-top: 19px">
                    <el-tooltip class="item" effect="dark" content="{{ device }}" placement="left">
                        <el-button>抓拍设备</el-button>
                    </el-tooltip>
                </div>
                <div style="padding-top: 19px">
                    <el-tooltip class="item" effect="dark" content="{{ address }}" placement="left">
                        <el-button>抓拍地址</el-button>
                    </el-tooltip>
                </div>
                <div style="padding-top: 19px">
                    <el-tooltip class="item" effect="dark" content="{{ take_photo_time }}" placement="left">
                        <el-button>抓拍时间</el-button>
                    </el-tooltip>
                </div>
            </div>
        </el-col>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        new Vue({
            el: '#app'
        })
    </script>
{% endblock %}