{% extends 'admin/popup/base.html' %}

{% block style %}
    <style>
        * {
            margin: 0;
            padding: 0;
            color: #606266;
            text-align: left;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="app">
        <video id="video_mp4" src="{{ url }}" controls autoplay width="100%"></video>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        new Vue({
            el: '#app',
        })
    </script>
{% endblock %}