[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
coreapi = "*"

[packages]
django = "*"
django-import-export = "*"
django-simpleui = "*"
basehash = "*"
djangorestframework = "*"
simplepro = "*"
pika = "*"
django-redis = "*"
celery = "*"
django-cors-headers = "*"
django-celery-beat = "*"
djangorestframework-jwt = "*"
channels = "*"
psycopg2-binary = "*"
paho-mqtt = "*"
jsonschema = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
