{% load static %}

<!-- 引入vue -->
<script src="{% static 'vue/vue.js' %}"></script>
<!-- axios -->
<script src="{% static 'axios/axios.min.js' %}"></script>
<!-- 引入组件库 -->
<script src="{% static 'element-ui/index.js' %}"></script>

<div id="home_page">
    <el-row :gutter="20" style="max-height: 900px; min-width: 1300px; margin-left: -20px; margin-right: -30px;">
        <el-col :span="5" style="padding-left: 0;">
            <el-card class="box-card">
                <div>
                    <p>摄像头状态</p>
                    <home-pie></home-pie>
                </div>
            </el-card>
            <el-card class="box-card" style="margin-top: 10px;">
                <div>
                    <p>摄像头分布</p>
                    <device-map style="width: 100%; height: 450px;"></device-map>
                </div>
            </el-card>

        </el-col>

        <el-col :span="11" style="padding-left: 0;">
            <el-card class="box-card">
                <home-survey></home-survey>
            </el-card>
            <el-card class="box-card" style="margin-top: 10px">
                <div>
                    抓拍统计
                </div>
                <div>
                    <home-line></home-line>
                </div>
            </el-card>
            <el-card class="box-card" style="margin-top: 10px">
                <div>
                    预警统计
                </div>
                <div>
                    <home-bar></home-bar>
                </div>
            </el-card>
        </el-col>

        <el-col :span="8" style="padding-left: 0; padding-right: -10px">
            <el-card class="box-card">
                <home-check></home-check>
                <home-alarm></home-alarm>
            </el-card>
        </el-col>
    </el-row>
</div>

<script type="text/javascript">

</script>
