{% load static face_safe_pro_tag %}

{% block extrahead %}

{% endblock %}

{% block content %}
    <div style="width: 100%; height: 100px; text-align: center; background-color: aqua">
        {#        <p onclick="alert_search_person('以人搜图的档案统计')">hahah</p>#}
        <span>档案统计</span>
        {% archives_count as archives_count %}
        {% for ke, val in archives_count.items %}
            {% if ke == 'archives_group_total' %}
                <h1>档案库数量: {{ val }}</h1>
            {% elif ke == 'archives_personnel_total' %}
                <h1>档案库人数人数: {{ val }}</h1>
            {% else %}
                <h1>Empty!</h1>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
