{% load static face_safe_pro_tag %}

{% block extrahead %}

{% endblock %}

{% block content %}
    <div style="width: 75%; height: 600px; text-align: center; background-color: deepskyblue; float: left">
        {#        <p onclick="alert_search_person('以人搜图的人员列表')">hahah</p>#}
        <span>人员列表</span>
        {# 根据档案hash获取人员列表。默认返回10条，具体数量前端控制 #}
        {% for library in library_list %}
            {% if library.hash == 'EdRbklpF2ws' %}
                {% archives_personnel id=library.hash current_page=1 page_size=2 as archives_personnel %}
                <h1>页码数: {{ archives_personnel.personnel_page.num_pages }}</h1>
                <h1>总条数: {{ archives_personnel.personnel_page.count }}</h1>
                <h1>页码区间: {{ archives_personnel.personnel_page.page_range }}</h1>
                {% for personnel in archives_personnel.personnel_list %}
                    <div>
                        {{ personnel.hash }} -- {{ personnel }}
                    </div>
                    <img src="{{ personnel.photo }}" alt="一张图片" width="10%">
                    <a href="javascript:alert('轨迹页面')">轨迹搜索</a>
                    <a href="/admin/device/devicephoto/search_image/">跳转</a>
                {% endfor %}

            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
