{% extends 'admin/custom/custom_base.html' %}

{% block style %}
    <style>
        .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
            color: #009900;
            background: none;
        }

        .box-group {
            background: #FFFFFF;
            box-shadow: 0 0 4px 2px rgba(69, 91, 132, 0.1);
        }

        .top-title-desc {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .item-box {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .item-list {
            margin: 5px 10px;
        }

        .item-list > span {
            font-size: 16px;
            font-weight: 600;
        }

        .avatar-photo {
            width: 100px;
            height: 100px;
            display: block;
            font-size: 28px;
            color: #8c939d;
            line-height: 120px;
            text-align: center;
            border-radius: 15px;
            border: 1px dashed #d9d9d9;
        }

        .uploader-img {
            width: 100px;
            height: 100px;
        }

        .face-img {
            overflow-y: hidden;
            height: 160px;
            white-space: nowrap;
            overflow-x: scroll;
            display: flex;
        }

        .img-list {
            margin-left: 10px;
            background: #ffffff;
            box-shadow: 4px 0 4px 0 rgba(22, 87, 184, 0.13), 0 2px 4px rgba(0, 0, 0, 0.12);
        }

    </style>
{% endblock %}

{% block main %}
    <div id="app">
        <el-row>
            <div class="top-title-desc">
                <div class="item-box">
                    <div class="item-list">
                        <span>总人数：</span>
                        <span>${ archives_personnel_total }</span>
                    </div>
                    <div class="item-list">
                        <span>人像库数量：</span>
                        <span>${ archives_group_total }</span>
                    </div>
                </div>
            </div>
        </el-row>
        <el-divider></el-divider>
        <el-row>
            <el-col :span="4">
                <div style="width: 100%; height: 180px;">
                    <div class="terms-height">
                        <div class="upload-div">
                            <el-upload
                                    :on-change="changePic"
                                    class="uploader-img"
                                    action="#"
                                    :http-request="upload_file"
                                    :auto-upload="true"
                                    :show-file-list="false"
                            >
                                <img v-if="imageUrl" :src="imageUrl" class="avatar-photo"/>
                            </el-upload>
                            <span style="display: inline-block;font-size: 12px;color: #e6a23c;margin-top: 10px;">*图片大小不能超过3M</span>
                        </div>
                        <div style="margin-top: 10px">
                            <el-button type="primary" size="mini" @click="search_person">开始搜索</el-button>
                            <el-button type="primary" size="mini" @click="search_reset">重置</el-button>
                        </div>
                    </div>
                </div>
            </el-col>
            <el-col :span="20" style="display: none">
                <div class="face-img box-group">
                    <div class="img-list" v-for="(item, index) of archives_personnel_list" :key="index">
                        <el-image
                                style="width: 140px; height: 120px"
                                :src="item.photo">
                        </el-image>
                        <p style="line-height: 40px">${ item.name }-${ item.phone }</p>
                    </div>
                </div>
            </el-col>
        </el-row>
        <hr>
        <el-row :gutter="20">
            <el-col :span="0" style="height: 560px; padding: 10px; overflow: auto" class="box-group">
                <div>
                    <h3 style="text-align: left; color: #333333; margin-top: 10px;">档案库列表</h3>
                </div>
                <div style="display: flex;">
                    <el-input
                            placeholder="输入名称查找"
                            size="mini"
                            v-model="group_name"
                    ></el-input>
                    <div style="margin-left: 10px;">
                        <el-button @click="group_list" size="mini">搜索</el-button>
                    </div>
                </div>
                <el-tree
                        class="filter-tree"
                        :data="archives_group_list"
                        :highlight-current="checked"
                        highlight-current
                        default-expand-all
                        current-node-key
                        icon-class=""
                        :props="defaultProps"
                        :filter-node-method="group_list"
                        @node-click="group_personnel_list"
                        ref="tree">
                </el-tree>

            </el-col>
            <el-col :span="24" style="overflow: auto;" class="box-group">
                <el-table
                        :data="archives_personnel_list"
                        :highlight-current-row="true"
                        stripe
                        max-height="500"
                        style="width: 100%"
                >
                    <el-table-column
                            type="index"
                            label="序号"
                            min-width="5%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="人名姓名"
                            min-width="15%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="phone"
                            label="手机号"
                            min-width="20%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="date_of_birth"
                            label="出生年月"
                            min-width="20%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="nationality"
                            label="国籍"
                            min-width="10%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="居住地址"
                            min-width="20%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="id_card"
                            label="身份证号"
                            min-width="25%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="similarity"
                            label="相似度"
                            min-width="10%"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="photo"
                            label="头像显示"
                            min-width="15%"
                    >
                        <template slot-scope="scope">
                            <el-image :src="scope.row.photo" style="width: 50px; height: 50px">
                            </el-image>
                        </template>
                    </el-table-column>

                    <div slot="empty">
                        <el-empty description="这里没有搜索到数据吖!"></el-empty>
                    </div>
                </el-table>
                <div v-if="paginator.page_count>1" class="paginator" style="text-align: center; margin-top: 20px">
                    <el-pagination
                            background
                            layout="total, prev, pager, next"
                            :page-size="paginator.page_size"
                            :total="paginator.count"
                            @current-change="group_personnel_list"
                    >
                    </el-pagination>
                </div>
            </el-col>
        </el-row>
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                loading: false,
                group_name: '',
                archives_group_id: '',
                current_page: 1,
                // imageUrl: 'https://wimg.588ku.com/gif620/21/01/17/c6b7bf2325af6e5d1aa43cee95014721.gif',
                imageUrl: 'https://wimg.588ku.com/gif620/20/12/15/b0f831231ece9b4e422adf9bcb271c51.gif',
                archives_group_total: 0,
                archives_personnel_total: 0,
                checked: false,
                defaultProps: {
                    label: 'name'
                },
                paginator: {
                    count: 0,
                    page_size: 10,
                    page_count: 0,
                    paginate: 'on'
                },
                archives_group_list: [],
                archives_personnel_list: []
            },
            created() {
                this.archives_group_info();
                {#this.group_list();#}
                {#this.group_personnel_list(1);#}
            },
            methods: {
                archives_group_info: function () {
                    let self = this;
                    self.loading = true;
                    axios.get('/v1/archives/group/count/', {
                        params: {}
                    }, {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }).then(res => {
                        self.archives_group_total = res.data.archives_group_total;
                        self.archives_personnel_total = res.data.archives_personnel_total;
                    }).finally(() => {
                        self.loading = false
                    })
                },
                group_list: function () {
                    {# 档案库列表 #}
                    let self = this;
                    self.loading = true;
                    axios.get('/v1/archives/group/', {
                        params: {
                            'paginate': self.paginator.paginate,
                            'name': self.group_name,
                        }
                    }, {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }).then(res => {
                        self.paginator.count = res.data.count;
                        self.paginator.page_count = self.paginator.count / self.paginator.page_size;
                        self.archives_group_list = res.data.results;
                    }).finally(() => {
                        self.loading = false
                    })
                },
                group_personnel_list: function (params) {
                    {# 人员列表 #}
                    let self = this;
                    self.loading = true;
                    if (typeof (params) == 'number') {
                        self.current_page = params;
                        params = {
                            'offset': (self.current_page - 1) * self.paginator.page_size,
                            'limit': self.paginator.page_size,
                            'archives_group': self.archives_group_id,
                        }
                    } else {
                        self.archives_group_id = params.id;
                        params = {
                            'archives_group': self.archives_group_id,
                            'limit': self.paginator.page_size,
                            'offset': (self.current_page - 1) * self.paginator.page_size,
                        }
                    }

                    axios.get('/v1/archives/personnel/', {
                        params: params
                    }, {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }).then(res => {
                        self.paginator.count = res.data.count;
                        self.paginator.page_count = self.paginator.count / self.paginator.page_size;
                        self.archives_personnel_list = res.data.results;
                    })
                },
                search_person: function (params) {
                    let self = this;
                    self.loading = true;
                    let data = new FormData();
                    data.append('photo', self.imageUrl)
                    axios.post('/v1/archives/personnel/search-identity/', data, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(res => {
                        self.archives_personnel_list = res.data;
                    }).finally(() => {
                        self.loading = false;
                    })
                },
                changePic(file) {
                    /** @description 修改文件钩子 */
                    this.imageUrl = URL.createObjectURL(file.raw);
                    this.file = file.raw;
                },
                search_reset: function () {
                    this.group_personnel_list(1)
                },
                search_trace: function (params) {
                    alert(params + ': ' + '轨迹回溯页面正在开发中....')
                },
                upload_file: function () {
                    let self = this;
                    let data = new FormData();
                    data.append('file', this.file)
                    self.loading = true;
                    axios.post('{% url "web_upload" %}', data, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(res => {
                        if (res.data.success === 1) {
                            self.imageUrl = res.data.url;
                        }
                    }).finally(() => {
                        self.loading = false;
                    })
                }
            }
        })
    </script>

{% endblock %}
