{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>父页面</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="{% static 'element-ui/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}?_=2.7">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/css/base.css' %}?_=2.7">
    <!-- 引入vue -->
    <script src="{% static 'vue/vue.js' %}"></script>
    <!-- 引入组件库 -->
    <script src="{% static 'element-ui/index.js' %}"></script>
    <!-- axios -->
    <script src="{% static 'axios/axios.min.js' %}"></script>

    <!-- 在需要的页面 引入这两个JS，是用来显示高德地图的 -->
    <script src="{% static "amap/loader.js" %}"></script>

    <!-- 封装的高德地图组件 -->
    <script type="text/javascript" src="{% static "amap/amap.js" %}"></script>

    <!-- simplepro中的图表 -->
    <script type="text/javascript" src="{% static "/admin/simplepro/echarts/echarts.js" %}"></script>
    <script type="text/javascript" src="{% static "/admin/simplepro/js/chart.js" %}"></script>

    <!-- 这个属于业务组件了，把地图的key和ajax接口 都放在这里面操作 -->
    <script type="text/javascript" src="{% static "amap/device.map.js" %}"></script>
    <script type="text/javascript" src="{% static "amap/track.map.js" %}"></script>

    <!-- webrtc视频播放组件 -->
    <script type="text/javascript" src="{% static "webrtc/webrtc.js" %}"></script>

    <!-- 右侧预警组件 -->
    <script type="text/javascript" src="{% static "alarm/real.alarm.js" %}"></script>
    <script type="text/javascript" src="{% static "alarm/real.snap.js" %}"></script>

    {% block style %}

    {% endblock %}
</head>

<body>

<div id="content" class="colM" style="margin-top: 0">
    {% block main %}

    {% endblock %}
</div>

{% block script %}

{% endblock %}

</body>
</html>