{% load static face_safe_pro_tag %}

{% block extrahead %}

{% endblock %}

{% block content %}
    <div style="width: 100%; height: 100px; text-align: center; background-color: coral">
        <span>抓拍统计</span>

        {% device_snap_count as device_snap_count %}
        {% for ke, val in device_snap_count.items %}
            {% if ke == 'now_days_snap_total' %}
                <h1>今日抓拍: {{ val }}</h1>
            {% elif ke == 'all_days_snap_total' %}
                <h1>总抓拍: {{ val }}</h1>
            {% else %}
                <h1>Empty!</h1>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

