{% extends 'admin/popup/base.html' %}

{% block style %}

{% endblock %}

{% block main %}
    <div id="app">
        <el-table
                :data="photo_list"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="device_address"
                    label="抓拍地址"
                    width="360">
            </el-table-column>
            <el-table-column
                    prop="device_take_photo_time"
                    label="抓拍时间"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="device_head_path"
                    label="抓拍头像">
            </el-table-column>
            <el-table-column
                    prop="device_head_path"
                    label="抓拍图像">
                <template slot-scope="scope">
                    <el-image :src="scope.row.device_head_path" style="width: 30px; height: 30px">
                    </el-image>
                </template>
            </el-table-column>
            <el-table-column
                    label="原图像">
                <template>
                    <el-image src="{{ personnel_path }}" style="width: 30px; height: 30px">
                    </el-image>
                </template>
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="操作">
                <template slot-scope="scope">
                    <el-link type="primary" :href="`{% url 'monitor:photo_detail' %}?id=` +scope.row.id">详情</el-link>
                    <el-link type="primary" :href="`{% url 'device:video_playback' %}?id=` +scope.row.id">回放视频</el-link>
                </template>
            </el-table-column>
        </el-table>
        <div v-if="paginator.page_count>1" class="paginator" style="text-align: center; margin-top: 20px">
            <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :page-size="paginator.page_size"
                    :total="paginator.count"
                    @current-change="photo_search"
            >
            </el-pagination>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                loading: false,
                paginator: {
                    count: 0,
                    page_size: 10,
                    page_count: 0,
                    paginate: 'on',
                },
                photo_list: [],
            },
            created() {
                this.photo_search(1);
            },
            methods: {
                photo_search: function (page) {
                    let self = this;

                    let data = JSON.stringify({
                        'current_page': page,
                        'page_size': self.paginator.page_size,
                        'id': {{ request.GET.id }},
                        'paginate': self.paginator.paginate
                    })

                    self.loading = true;
                    axios.post('{% url "monitor:photo_search" %}', data, {
                        headers: {
                            'Content-Type': 'application/json;charset=UTF-8'
                        }
                    }).then(res => {
                        self.paginator.count = res.data.count;
                        self.paginator.page_count = self.paginator.count / self.paginator.page_size;
                        self.photo_list = res.data.results;
                    }).finally(() => {
                        self.loading = false
                    })
                }
            }
        })
    </script>
{% endblock %}