{% extends 'admin/popup/base.html' %}

{% block style %}

{% endblock %}

{% block main %}
    <div id="app">
        <el-table
                :data="photo_list"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="record__device__name"
                    label="抓拍设备"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="record__address"
                    label="抓拍地址"
                    width="360">
            </el-table-column>
            <el-table-column
                    prop="target__plate"
                    label="车牌">
            </el-table-column>
            <el-table-column
                    prop="record__take_photo_time"
                    label="抓拍时间">
            </el-table-column>
            <el-table-column
                    label="抓拍图像">
                <template slot-scope="scope">
                    <el-image :src="scope.row.record__plate_path" style="width: 30px; height: 30px">
                    </el-image>
                </template>
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="操作">
                <template slot-scope="scope">
                    <el-link type="primary" :href="`{% url 'monitor:vehicle_detail' %}?id=` +scope.row.id">详情</el-link>
                    <el-link type="primary" :href="`{% url 'device:video_playback' %}?id=` +scope.row.id">回放视频</el-link>
                </template>
            </el-table-column>
        </el-table>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                loading: false,
                count: 0,
                photo_list: [],
            },
            created() {
                let self = this;
                let data = JSON.stringify({
                    'current_page': 1,
                    'page_size': 10,
                    'id': {{ request.GET.id }},
                    'paginate': 'on'
                })

                self.loading = true;
                axios.post('{% url "monitor:vehicle_search" %}', data, {
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                }).then(res => {
                    console.log(res.data.results)
                    self.count = res.data.count;
                    self.photo_list = res.data.results;
                }).finally(() => {
                    self.loading = false
                })
            },
        })
    </script>
{% endblock %}